@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.border-1 {
	border-width: 1px;
}

.border-x-1 {
	border-right-width: 1px;
	border-left-width: 1px;
}

.border-t-1 {
	border-top-width: 1px;
}

.border-b-1 {
	border-bottom-width: 1px;
}

.border-l-1 {
	border-left-width: 1px;
}
.border-r-1 {
	border-right-width: 1px;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
